<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="container">
	<div class="well">
		<div class="row">
			<div class="well well-sm">
				<strong>Title:</strong>
		  		<%= @todo_item.title %>
		  	</div>
		</div>

		<div class="row">
			<div class="well well-sm">
				<strong>Due date:</strong>
		  		<%= @todo_item.due_date %>
		  	</div>
		</div>

		<div class="row">
			<div class="well well-sm">
				<strong>Description:</strong>
		  		<%= @todo_item.description %>
		  	</div>
		</div>

		<div class="row">
			<div class="well well-sm">
				<strong>Completed:</strong>
		  		<%= @todo_item.completed %>
		  	</div>
		</div>

		<div class="row">
			<%= link_to 'Edit', edit_todo_list_todo_item_path(@todo_list, @todo_item), class: "btn btn-default" %>
			<%= link_to 'Back', @todo_list , class: "btn btn-danger"%>
		</div>
	</div>
</div>