<%= bootstrap_form_for(@todo_list) do |f| %>
  <% if @todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% @todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="well">
        <div class="row">
            <%= f.text_field :list_name, label: :list_name %>
        </div>

        <div class="row">
            <%= f.date_field :list_due_date, label: :list_due_date %>
        </div>
        <div class="row">
          <%= f.primary %>
          <%= link_to 'Back', todo_lists_path, class: "btn btn-danger" %> 
        </div>
      </div>
    </div>
  </div>
<% end %>
